.main{
    margin-top: 5%;
    background-color: #222222;
    color: #dddddd;
}

.line{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid #DDDDDD;

}


.startButton{
    text-align: center;
    vertical-align: middle;
    margin-top: 20%;

}
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #7FC6B8 !important;
   } 

button:hover{
    background-color: #7FC6B8;
}



.tradeViewer{
    float:left; 
    display:inline; 
    text-align: center;
    width: 40%;
    margin-left: 5%;
}

mat-accordion{
    width: 60%;
}

mat-form-field{
    padding-left: 5%;
}

.statistics{
    float:left; 
    display:inline; 
    box-shadow: 0 0 20px #000000;
    margin-left: 10%;
    margin-right: 0%;
    width: 40%;
    text-align: center;

}