<div class="startButton" *ngIf="showButton">
    <button mat-button (click)="openDialog()" class="backtesterButton"><h2>Start backtest</h2></button>
</div>

<div class="loading" *ngIf="isLoading">
    <mat-spinner color="#DDDDDD"></mat-spinner>
</div>

<div class="main" *ngIf="testerComplete">

  <div class="main" *ngIf="testerComplete">

    <div class="tradeViewer">
        <h2>Trades Made</h2>
        <div class="selectors">
            <mat-form-field>
                <mat-label>Positions</mat-label>
                <mat-select (selectionChange)=onPositionsChange($event) multiple>
                <mat-option style="background-color: #222222; color:#DDDDDD" *ngFor="let position of positions" [value]="position['ticker']">{{position.ticker}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="datepickers">
                <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput (dateChange)="updateStartDate($event)" [min]="startDate" [max]="maxStartDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>

                </mat-form-field>

                <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input matInput (dateChange)="updateEndDate($event)" [min]="minEndDate" [max]="endDate" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let position of renderedTrades" style="box-shadow: 0 0 15px #000000; margin-bottom: 3%;">
                    <mat-expansion-panel-header>
                    {{position.name}}
                    </mat-expansion-panel-header>

                    <table mat-table [dataSource]="position['trades']" class="mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="datePurchased">
                          <th mat-header-cell *matHeaderCellDef> Date Purchased </th>
                          <td mat-cell *matCellDef="let element"> {{element.datePurchased.toDateString()}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="numShares">
                          <th mat-header-cell *matHeaderCellDef style="background-color: #222222"> Number of Shares </th>
                          <td mat-cell *matCellDef="let element" style="background-color: #222222"> {{element.numShares}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="dateSold">
                          <th mat-header-cell *matHeaderCellDef> Date Sold </th>
                          <td mat-cell *matCellDef="let element"> {{element.dateSold > earlyDate ? element.dateSold.toDateString() : 'N/A'}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>

                </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="statistics">

        <div class="graph">
            <h2>Portfolio Analysis</h2>
            <div class="chart">
                <ngx-charts-line-chart
                [view]="view"
                [scheme]="lineColorScheme"
                [legend]="lineLegend"
                [showXAxisLabel]="lineShowXAxisLabel"
                [showYAxisLabel]="lineShowYAxisLabel"
                [legendPosition]="lineLegendPosition"
                [xAxis]="lineXaxis"
                [yAxis]="lineYaxis"
                [xAxisLabel]="lineXaxisLabel"
                [yAxisLabel]="lineYaxisLabel"
                [timeline]="lineTimeline"
                [results]="graphData"
                (select)="lineOnSelect($event)"
                (activate)="lineOnActivate($event)"
                (deactivate)="lineOnDeactivate($event)"
                >
                </ngx-charts-line-chart>
            </div>
        </div>

        <div class="statPanel">
            <h2>Summary Statistics</h2>
            <div class="line">
            </div>

            <div class="statsView">
                <div class="stat" *ngFor="let stat of performanceStats">
                    <b>{{stat.name}}:</b> {{stat.value}}
                </div>
            </div>
        </div>

    </div>

</div>


