# Typescript specific
*environment.ts

# Mac specific
.DS_Store

# Virtual environment
venv/

# Editor specific
.idea/
.vscode/

# Python specific
__pycache__/
*.pyc
*.ipynb_checkpoints
build/
dist/
*.egg-info