sudo: false

language: python

matrix:
  include:
    - python: 3.6
      dist: trusty
      env: DOCBUILD=false
    - python: 3.7
      dist: xenial
      sudo: true
    - python: 3.8

install:
  - pip install -qq flake8 pytest
  - if [[ $DOCBUILD ]]; then
    pip install -qq doctr sphinx sphinx_rtd_theme ipython matplotlib;  # for docs later
    fi
  - python setup.py install

script:
  - set -e
  - flake8 --version
  - flake8 algDev
  - pytest algDev/tests
  - |
    if [[ $DOCBUILD ]]; then
      make -C docs html
      doctr deploy . --built-docs docs/build/html/
    fi