tensorflow
pandas
numpy
matplotlib
gensim
flask
flask_cors
flask_sqlalchemy
flask_migrate
flask_bcrypt
flask_login
keras
python-dotenv
unipath
graphviz
pydot
pydotplus
sklearn
xlrd
xlwt