.spinny{
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 43%;
    margin-top: 10%;
}

.graphs{
    margin-top: 5%;
    margin-bottom: 5%;
}

