ngx-charts-line-chart{
    font-size: 8px;
    vertical-align: middle;
}

.main{

    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
}

h4{
    display: block;
}