ngx-charts-line-chart{
    font-size: 8px;
    vertical-align: middle;
}

.main{

    vertical-align: top;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 15px #000000;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    margin-bottom: 5%;

}

h4{
    display: block;
}