<div class="main">
    <h1 mat-dialog-title>Enter Parameters</h1>
    <div mat-dialog-content>
    <mat-error *ngIf="inputError">Please correct the missing/invalid fields</mat-error>
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input matInput (dateChange)="updateStartDate($event)" [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    
    </mat-form-field>

    <mat-form-field>
        <mat-label>End Date</mat-label>
        <input matInput (dateChange)="updateEndDate($event)" [min]="minEndDate" [max]="maxEndDate" [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Portfolio Value (in USD)</mat-label>
        <input matInput [(ngModel)]="portfolioValue">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Model/Trading Strategy</mat-label>
        <mat-select (selectionChange)=updateModel($event)>
          <mat-option *ngFor="let model of models" [value]="model.name" 
          matTooltip="{{model.paramsString}}" matTooltipPosition="after">
            {{model.name}}
          </mat-option>
        </mat-select>
        <div *ngIf="false">

        </div>
      </mat-form-field>


    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" class="backtesterButton cancel">Cancel</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial class="backtesterButton ok">Ok</button>
    </div>
</div>