.main{
    background-color: #222222;
    color: #dddddd;
}
h1{
    text-align: center;
}

.cancel:hover{
    background-color: #A10A28;
}

.ok:hover{
    background-color: #5AA454
}

.my-tooltip {
    white-space: pre-line;
}