<div class="ticker">
    <div class="text">
        <h3> {{assetName}} </h3>
        <h4> {{percentChange}}% </h4>
    </div>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="lineColorScheme"
    [legend]="lineLegend"
    [showXAxisLabel]="lineShowXAxisLabel"
    [showYAxisLabel]="lineShowYAxisLabel"
    [legendPosition]="lineLegendPosition"
    [xAxis]="lineXaxis"
    [yAxis]="lineYaxis"
    [xAxisLabel]="lineXaxisLabel"
    [yAxisLabel]="lineYaxisLabel"
    [timeline]="lineTimeline"
    [results]="data"
    (select)="lineOnSelect($event)"
    (activate)="lineOnActivate($event)"
    (deactivate)="lineOnDeactivate($event)"
    >
    </ngx-charts-line-chart>
</div>

