.ticker{
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 2%;
    border: 3px solid red;
    align-self: center;
    
    padding-top: 5%;
    display: -webkit-box;   
    display: -moz-box; 
    display: -ms-flexbox;  
    display: -webkit-flex;
    display: flex;  
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10%;
    

}