.ticker{
    width: 80%;
    padding-top: 0%;
    padding-bottom: 5%;
    margin-top: 10%;
    box-shadow: 0 0 15px #000000;
    align-self: center;

    display: -webkit-box;   
    display: -moz-box; 
    display: -ms-flexbox;  
    display: -webkit-flex;
    display: flex;  
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10%;
}