/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body { /* make theme take up whole page */
    height: 100%;
    overflow-y: auto;
    background-color: #222222;
    color: #dddddd;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* overriding material */
.mat-select-value{
    color: #DDDDDD;
}

.mat-toolbar.mat-primary{background:#222222;color:#dddddd}

.mat-dialog-container{
    background:#222222; 
    color: #dddddd;
    box-shadow: 0 0 15px #000000;
}

.mat-form-field-underline {
 /*change color of underline*/
  background-color: #DDDDDD !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: blue !important;;
}

.mat-form-field-label {
    color: #DDDDDD !important;
}

.backtesterButton:hover{
    background-color: #444444;
}
