<div class="main">
    <h1>
        FML
    </h1>
    <div class="links">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/bot">Bot Summary</a></li>
            <li><a href="/about">About FML</a></li>
        </ul>
    </div> 

</div>

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>


