<mat-toolbar color="primary">
    <mat-toolbar-row role="heading">
      <span style='font-size:333%;'><img src="/assets/toolbar-logo.png" height="10%" width="40%"></span>
      <span class="example-spacer"></span>
        <a href="/dashboard">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Dashboard icon">dashboard</mat-icon>
        </a>
        <a href="/bot">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Pie chart icon">pie_chart</mat-icon>
        </a>
        <a href="/about">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="About icon">help</mat-icon>
        </a>
    </mat-toolbar-row>
  </mat-toolbar>


