mat-form-field{
    margin-top: 5%;
    margin-left: 10%;
}

mat-label{
    color: #DDDDDD;
}

::ng-deep .ngx-charts text { 
    fill: #dddddd !important; 
}
::ng-deep span .chart-legend .legend-label .legend-label-text .active :hover{ 
    fill: #ffffff !important; 
    background-color: #ffffff;
}


.main{

    padding-top: 5%;
    display: -webkit-box;   
    display: -moz-box; 
    display: -ms-flexbox;  
    display: -webkit-flex;
    display: flex;  
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 10%;
}


.equitySpecific{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-box;   
    display: -moz-box; 
    display: -ms-flexbox;  
    display: -webkit-flex;
    display: flex;  
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}

.selectorsAndGraphs{
    display: block;
    width: 75%;
}
