<div class="main">
  <mat-form-field>
      <mat-label>Asset</mat-label>
      <mat-select (selectionChange)="getAssetData($event)" multiple>
        <mat-option *ngFor="let asset of assets" [value]="asset">
          {{asset}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Model</mat-label>
      <mat-select (selectionChange)="getModelData($event)" multiple>
        <mat-option *ngFor="let model of models" [value]="model">
          {{model}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <div *ngIf="assetData.length > 0">
    <h2>Allocation Over Time</h2>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="lineColorScheme"
    [legend]="lineLegend"
    [showXAxisLabel]="lineShowXAxisLabel"
    [showYAxisLabel]="lineShowYAxisLabel"
    [legendPosition]="lineLegendPosition"
    [xAxis]="lineXaxis"
    [yAxis]="lineYaxis"
    [xAxisLabel]="lineXaxisLabel"
    [yAxisLabel]="lineYaxisLabel"
    [timeline]="lineTimeline"
    [results]="assetData"
    (select)="lineOnSelect($event)"
    (activate)="lineOnActivate($event)"
    (deactivate)="lineOnDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>

</div>


