<div class="main">

  <mat-form-field class="example-chip-list" floatPlaceholder="always">
    <mat-chip-list aria-label="Selected" #chipList>
        <div *ngFor="let asset of assetData"> 
        <mat-chip *ngIf="asset.type=='asset'" [selectable]="selectable"
        [removable]="removable" (removed)="remove(asset.name)">
        {{asset.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        </div>

      <input  
              placeholder="Add stocks..."
              [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="getAssetData($event)">

      <mat-error *ngIf="invalidAssetField">
        Please use a valid ticker
      </mat-error>

    </mat-chip-list>
  </mat-form-field>

  <div class="equitySpecific">
    <div class="graph">
      <h2>Prices Over Time</h2>
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="lineColorScheme"
      [legend]="lineLegend"
      [showXAxisLabel]="lineShowXAxisLabel"
      [showYAxisLabel]="lineShowYAxisLabel"
      [legendPosition]="lineLegendPosition"
      [xAxis]="lineXaxis"
      [yAxis]="lineYaxis"
      [xAxisLabel]="lineXaxisLabel"
      [yAxisLabel]="lineYaxisLabel"
      [timeline]="lineTimeline"
      [results]="assetData"
      (select)="lineOnSelect($event)"
      (activate)="lineOnActivate($event)"
      (deactivate)="lineOnDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="adder">
      <mat-chip-list *ngFor="let asset of assetData">
        <mat-chip *ngIf="asset.type=='indicator'" [removable]="removable" (removed)="remove(asset.name)">
          {{asset.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

      <mat-form-field>
        <mat-label>Indicator</mat-label>
        <mat-select (selectionChange)="loadParameterFields($event)">
          <mat-option *ngFor="let indicator of indicators" [value]="indicator">
            {{indicator}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="paramsField" *ngIf="indicatorSelected">
        
        <div>
          <mat-form-field class="example-full-width">
            <div *ngIf='numParams != 1'>
              <mat-label>Commas between {{this.numParams}} parameters</mat-label>
            </div>
            <div *ngIf='numParams == 1'>
              <mat-label>Parameter</mat-label>
            </div>
            <input matInput (keydown.enter)="getIndicatorData($event)">
          </mat-form-field>
          <mat-error *ngIf="invalidNumParams">
            Please use {{this.numParams}} parameters
          </mat-error>
        </div>

      </div>

    </div>
  
  </div>

  <div class="selectorsAndGraphs">
    <div class="headings">
      <h2>Model Performance</h2>
      <mat-form-field>
        <mat-label>Equity</mat-label>
        <mat-select (selectionChange)="getModelsForEquity($event)">
          <mat-option *ngFor="let equity of equities" [value]="equity">
            {{equity}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <mat-select (selectionChange)="getModelData($event)">
            <mat-option *ngFor="let model of models" [value]="model"  matTooltip="{{model.params}}" matTooltipPosition="before">
              {{model.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="indicators">
      <app-indicators [modelID]="activeModelID" *ngIf="activeModelID"></app-indicators>
    </div>
  </div>

</div>




