<div class="main">

  <mat-form-field class="example-chip-list" floatPlaceholder="always">
    <mat-chip-list #chipList aria-label="Selected">
      <mat-chip *ngFor="let asset of assetData" [selectable]="selectable"
               [removable]="removable" (removed)="remove(asset.name)">
        {{asset.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add stocks..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="getAssetData($event)">

      <mat-error *ngIf="invalidAssetField">
        Please use a valid ticker
      </mat-error>

    </mat-chip-list>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Model</mat-label>
      <mat-select (selectionChange)="getModelData($event)" multiple>
        <mat-option *ngFor="let model of models" [value]="model">
          {{model}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <div *ngIf="assetData.length > 0">
    <h2>Allocation Over Time</h2>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="lineColorScheme"
    [legend]="lineLegend"
    [showXAxisLabel]="lineShowXAxisLabel"
    [showYAxisLabel]="lineShowYAxisLabel"
    [legendPosition]="lineLegendPosition"
    [xAxis]="lineXaxis"
    [yAxis]="lineYaxis"
    [xAxisLabel]="lineXaxisLabel"
    [yAxisLabel]="lineYaxisLabel"
    [timeline]="lineTimeline"
    [results]="assetData"
    (select)="lineOnSelect($event)"
    (activate)="lineOnActivate($event)"
    (deactivate)="lineOnDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>

</div>


